{namespace neos=TYPO3\Neos\ViewHelpers}

<f:if condition="{searchResultNode}">
    <f:then>
        <f:form actionUri="{neos:uri.node(node: searchResultNode)}" method="POST" name="search" class="neos-search">
            <div class="input-group">
                <f:form.textfield name="searchParameter" class="form-control" />
                <span class="input-group-btn">
                    <f:form.button type="submit" class="btn btn-default">{f:translate(id: 'indexedSearch.search', package: 'ObisConcept.NeosSearch')}</f:form.button>
                </span>
            </div>
        </f:form>
    </f:then>
    <f:else>
        <div>{f:translate(id: 'indexedSearch.selectNode', package: 'ObisConcept.NeosSearch')}</div>
    </f:else>
</f:if>